<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto" href="#">
      <img src="../assets/images/logo.png" alt="Logo" style="height: 40px;">
    </a>
  </div>
</nav>

<div class="video-container">
  <video class="video-fullscreen" src="../assets/videos/fortniteavatar.mp4" autoplay muted loop></video>
</div>


<div class="container mt-4 p-3">
  <h2>Texte après la vidéo</h2>
  <p>Votre texte ici...</p>
  <p>Plus de texte ici...</p>
</div>

<div class="container mt-4 p-3">
  <h2>Texte après la vidéo</h2>
  <p>Votre texte ici...</p>
  <p>Plus de texte ici...</p>
  
  <app-cosmetics-list></app-cosmetics-list>
</div>

